Repository config-ninja/config-ninja: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, absolufy-imports, yesqa, poetry-check

.pre-commit-config.yaml:

# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
ci:
  skip:
    - pyupgrade
    - absolufy-imports
    - yesqa
    - shellcheck
    - poetry-check

repos:
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: python-check-blanket-noqa
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        types: [python]
      - id: end-of-file-fixer
        types: [python]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 23.12.0
    hooks:
      - id: black
        name: black

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.1
    hooks:
      - id: mypy
        additional_dependencies:
          - lxml
          - pydantic
          - types-pyyaml
          - types-requests
          - types-setuptools
          - types-toml
        args:
          - --no-warn-unused-ignores

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args:
          - --radon-max-cc=5
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-eradicate
          - flake8-logging-format
          - flake8-mutable
          - flake8-print
          - flake8-pytest-style
          - flake8-tidy-imports
          - radon[toml]
          - setuptools

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        entry: pydocstyle
        additional_dependencies: [toml]

  - repo: https://github.com/pycqa/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        entry: bandit
        args:
          - -c
          - pyproject.toml
          - -f
          - html
          - -o
          - docs/reports/bandit.html

        additional_dependencies: [toml]

  - repo: local
    hooks:
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade --py38-plus
        require_serial: true
        language: system
        types: [python]
      - id: absolufy-imports
        name: absolufy-imports
        entry: absolufy-imports
        require_serial: true
        language: system
        types: [python]
      - id: yesqa
        name: yesqa
        entry: yesqa
        exclude: src/config_ninja/(__init__|base).py
        require_serial: true
        language: system
        types: [python]
      - id: shellcheck
        name: shellcheck
        entry: shellcheck --check-sourced
        language: system
        types: [shell]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false

initial revision of AppConfig backend
  .pre-commit-config.yaml
  README.md
  conftest.py
  poetry.lock
  pyproject.toml
  src/config_ninja/__init__.py
  src/config_ninja/backend.py
  src/config_ninja/contrib/__init__.py
  src/config_ninja/contrib/appconfig.py
  tests/fixtures.py
Due: pyupgrade, absolufy-imports, yesqa, poetry-check

clean up dependency groups + pre-commit hooks
  .flake8
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

refactor workflow definitions
  .github/actions/poe/action.yml
  .github/workflows/pr-poe.yml
  .github/workflows/push-poe.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

publish docs to github pages
  .github/workflows/pr-poe.yml
  .github/workflows/push-poe.yml
  README.md
  src/config_ninja/__init__.py
Due: pyupgrade, absolufy-imports

ci: skip `pyright` during CI
  .pre-commit-config.yaml
Due: none

feat(#6): initial commit
  .pre-commit-config.yaml
  README.md
  config-ninja-settings.yaml
  poetry.lock
  ptw.ini
  pyproject.toml
  src/config_ninja/__init__.py
  src/config_ninja/__main__.py
  src/config_ninja/cli.py
  src/config_ninja/contrib/__init__.py
  tests/__init__.py
  tests/fixtures.py
  tests/ruff.toml
  tests/test_config_ninja/test_cli.py
Due: pyupgrade, absolufy-imports, yesqa, poetry-check

feat(#6): add local backend and `poll` command
  .pre-commit-config.yaml
  config-ninja-settings.yaml
  poetry.lock
  pyproject.toml
  src/config_ninja/backend.py
  src/config_ninja/cli.py
  src/config_ninja/contrib/appconfig.py
  src/config_ninja/contrib/local.py
  tests/fixtures.py
  tests/test_config_ninja/test_cli.py
Due: pyupgrade, absolufy-imports, yesqa, poetry-check

refactor(#6): remove duplication between commands
  src/config_ninja/cli.py
Due: pyupgrade, absolufy-imports, yesqa

feat(#6): implement `apply` command w/templating
  .pre-commit-config.yaml
  config-ninja-settings.yaml
  poetry.lock
  pyproject.toml
  src/config_ninja/backend.py
  src/config_ninja/cli.py
  src/config_ninja/contrib/__init__.py
  src/config_ninja/contrib/appconfig.py
  src/config_ninja/contrib/local.py
  templates/settings-subset.toml.j2
  tests/test_config_ninja/test_cli.py
Due: pyupgrade, absolufy-imports, yesqa, poetry-check

fix(#6): clean special chars from output
  tests/test_config_ninja/test_cli.py
Due: pyupgrade, absolufy-imports, yesqa

feat(#6): implement `monitor` command
  config-ninja-settings.yaml
  pyproject.toml
  src/config_ninja/__main__.py
  src/config_ninja/backend.py
  src/config_ninja/cli.py
  src/config_ninja/contrib/appconfig.py
  src/config_ninja/contrib/local.py
  src/pyspry.pyi
  templates/settings-subset.toml.j2
  tests/test_config_ninja/test_cli.py
Due: pyupgrade, absolufy-imports, yesqa, poetry-check

fix(#6): restore parent directory creation
  src/config_ninja/cli.py
Due: pyupgrade, absolufy-imports, yesqa

ci(#6): integrate with codecov.io
  .github/workflows/pr-poe.yml
  .github/workflows/push-poe.yml
Due: none

ci(#6): always upload coverage reports
  .github/workflows/pr-poe.yml
  .github/workflows/push-poe.yml
Due: none

test(#6): define test for `config_ninja.__main__`
  src/config_ninja/__main__.py
  tests/test_config_ninja/test_main.py
Due: pyupgrade, absolufy-imports, yesqa

test(#6): use `new` on the other local config
  config-ninja-settings.yaml
Due: none

ci(#6): suppress code coverage for a few lines
  src/config_ninja/backend.py
  src/config_ninja/contrib/__init__.py
Due: pyupgrade, absolufy-imports, yesqa

test(#6): implement test for the `monitor` command
  .github/actions/poe/action.yaml
  .github/workflows/pr-poe.yaml
  .github/workflows/push-poe.yaml
  examples/local-backend.yaml
  tests/test_config_ninja/test_cli.py
Due: pyupgrade, absolufy-imports, yesqa

docs: correct `README.md` badge
  README.md
Due: none

docs: update package documentation
  CONTRIBUTING.md
  README.md
  pyproject.toml
  src/config_ninja/__init__.py
  src/config_ninja/__main__.py
  src/config_ninja/cli.md
  src/config_ninja/cli.py
Due: pyupgrade, absolufy-imports, yesqa, poetry-check

deps: define `extras` in `pyproject.toml`
  .envrc
  poetry.lock
  pyproject.toml
  src/config_ninja/backend.py
  src/config_ninja/cli.py
  tests/fixtures.py
Due: pyupgrade, absolufy-imports, yesqa, poetry-check

ci: always install all extras
  .github/actions/poe/action.yaml
Due: none

ci: change `mv` command for reports
  .github/workflows/push-poe.yaml
  README.md
Due: none

docs: various documentation updates
  .gitignore
  README.md
  examples/appconfig-backend.yaml
  pyproject.toml
  src/config_ninja/__init__.py
  src/config_ninja/backend.py
  src/config_ninja/cli.py
  src/config_ninja/contrib/__init__.py
  src/config_ninja/contrib/appconfig.py
  src/config_ninja/contrib/local.py
  tests/__init__.py
Due: pyupgrade, absolufy-imports, yesqa, poetry-check

docs: fix a link and document additional modules
  README.md
  pyproject.toml
Due: poetry-check

docs: define logo + favicon
  docs/config-ninja.png
  docs/favicon-16x16.png
  docs/favicon-32x32.png
  docs/favicon-96x96.png
Due: none

docs: add `favicon` and logo
  README.md
  pyproject.toml
Due: poetry-check

chore: add a changelog template
  templates/CHANGELOG.md.j2
Due: none

chore: move changelog template to avoid conflicts
  changelog/CHANGELOG.md.j2
  pyproject.toml
Due: poetry-check

chore: enable `poetry-dynamic-versioning`
  pyproject.toml
Due: poetry-check

ci: update commit prefix in dependabot config
  .github/dependabot.yml
Due: none

chore(release): update changelog template
  changelog/CHANGELOG.md.j2
Due: none

ci: include package version in documentation
  .github/workflows/push-poe.yaml
  README.md
  changelog/CHANGELOG.md.j2
  pyproject.toml
Due: poetry-check

ci: include `semantic-release` action
  .github/workflows/push-poe.yaml
Due: none

ci: check before releasing
  .github/workflows/push-poe.yaml
  pyproject.toml
Due: poetry-check

ci: add jobs to publish to TestPyPI and PyPI
  .github/workflows/push-poe.yaml
  pyproject.toml
Due: poetry-check

docs: correct links in PyPI package
  pyproject.toml
Due: poetry-check

docs: fix invalid file name
  README.md
Due: none

feat(#46): installation as a `systemd` service
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  src/config_ninja/__init__.py
  src/config_ninja/cli.py
  src/config_ninja/conftest.py
  src/config_ninja/contrib/__init__.py
  src/config_ninja/contrib/local.py
  src/config_ninja/systemd.py
  src/config_ninja/templates/systemd.service.j2
  src/sh.pyi
  tests/fixtures.py
  tests/test_config_ninja/test_cli.py
Due: pyupgrade, absolufy-imports, yesqa, poetry-check
