Repository config-ninja/config-ninja: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, absolufy-imports, yesqa, poetry-check

.pre-commit-config.yaml:

# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: false
ci:
  skip:
    - pyupgrade
    - absolufy-imports
    - yesqa
    - shellcheck
    - poetry-check

repos:
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: python-check-blanket-noqa
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        types: [python]
      - id: end-of-file-fixer
        types: [python]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 23.12.0
    hooks:
      - id: black
        name: black

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.1
    hooks:
      - id: mypy
        additional_dependencies:
          - lxml
          - pydantic
          - types-pyyaml
          - types-requests
          - types-setuptools
          - types-toml
        args:
          - --no-warn-unused-ignores

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args:
          - --radon-max-cc=5
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-eradicate
          - flake8-logging-format
          - flake8-mutable
          - flake8-print
          - flake8-pytest-style
          - flake8-tidy-imports
          - radon[toml]
          - setuptools

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        entry: pydocstyle
        additional_dependencies: [toml]

  - repo: https://github.com/pycqa/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        entry: bandit
        args:
          - -c
          - pyproject.toml
          - -f
          - html
          - -o
          - docs/reports/bandit.html

        additional_dependencies: [toml]

  - repo: local
    hooks:
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade --py38-plus
        require_serial: true
        language: system
        types: [python]
      - id: absolufy-imports
        name: absolufy-imports
        entry: absolufy-imports
        require_serial: true
        language: system
        types: [python]
      - id: yesqa
        name: yesqa
        entry: yesqa
        exclude: src/config_ninja/(__init__|base).py
        require_serial: true
        language: system
        types: [python]
      - id: shellcheck
        name: shellcheck
        entry: shellcheck --check-sourced
        language: system
        types: [shell]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false

docs(cli): update CLI markdown and help text
  src/config_ninja/cli.md
  src/config_ninja/cli.py
Due: pyupgrade, absolufy-imports, yesqa

docs: add PyPI badges to README
  README.md
Due: none

feat(#68): WIP: begin implementation
  ptw.ini
  pyproject.toml
  src/config_ninja/conftest.py
  tests/fixtures.py
  tests/test_tools/test_install.py
  tools/__init__.py
  tools/conftest.py
  tools/install.py
  tools/ruff.toml
Due: pyupgrade, absolufy-imports, yesqa, poetry-check

fix(#68): fix test suite errors
  tools/conftest.py
Due: pyupgrade, absolufy-imports, yesqa

fix(#68): patch `runpy.run_path()`
  tests/fixtures.py
  tools/conftest.py
Due: pyupgrade, absolufy-imports, yesqa

fix(#68): set `--path` to `.`
  tests/test_tools/test_install.py
Due: pyupgrade, absolufy-imports, yesqa

fix(#68): handle when `sudo` is not available
  src/config_ninja/systemd.py
  tools/conftest.py
Due: pyupgrade, absolufy-imports, yesqa

feat(#68): develop the install script further
  tools/install.py
Due: pyupgrade, absolufy-imports, yesqa

test(#68): add additional tests for the installer
  ptw.ini
  pyproject.toml
  src/config_ninja/cli.py
  src/pyspry.pyi
  tests/test_tools/test_install.py
  tools/conftest.py
  tools/install.py
  tools/ruff.toml
Due: pyupgrade, absolufy-imports, yesqa, poetry-check

fix(#68): improve windows support
  .flake8
  docs/reports/.gitkeep
  poetry.lock
  pyproject.toml
  src/config_ninja/cli.py
  src/config_ninja/systemd.py
  tests/fixtures.py
  tests/test_config_ninja/test_cli.py
  tests/test_tools/test_install.py
  tools/install.py
Due: pyupgrade, absolufy-imports, yesqa, poetry-check

fix(#68): refactor handling of `sh` and `sdnotify`
  poetry.lock
  pyproject.toml
  src/config_ninja/cli.py
  src/config_ninja/systemd.py
  src/sdnotify.pyi
Due: pyupgrade, absolufy-imports, yesqa, poetry-check

fix(#68): resolve a test failure if installed
  tests/test_tools/test_install.py
Due: pyupgrade, absolufy-imports, yesqa

fix(#68): another `type: ignore`
  tests/fixtures.py
Due: pyupgrade, absolufy-imports, yesqa

test(#68): add tests; suppress edge case coverage
  src/config_ninja/systemd.py
  tests/test_tools/test_install.py
  tools/conftest.py
  tools/install.py
Due: pyupgrade, absolufy-imports, yesqa

docs(#68): update installation instructions
  .github/workflows/push-poe.yaml
  README.md
  examples/appconfig-backend.yaml
  pyproject.toml
  tools/install.py
Due: pyupgrade, absolufy-imports, yesqa, poetry-check

fix: resolve test failures on macOS
  tests/fixtures.py
  tests/test_tools/test_install.py
Due: pyupgrade, absolufy-imports, yesqa

fix: install all backends by default
  tools/install.py
Due: pyupgrade, absolufy-imports, yesqa

chore(pre-commit): downgrade `prettier`
  .pre-commit-config.yaml
Due: none

chore(status checks): add inverted jobs
  .github/workflows/pr-poe-skipped.yaml
  .github/workflows/pr-poe.yaml
Due: none

ci: create codeql.yml
  .github/workflows/codeql.yml
Due: none

style: `prettier` the `codeql.yml` file
  .github/workflows/codeql.yml
Due: none

chore: use a stable release of prettier
  .pre-commit-config.yaml
Due: none

ci: enable automatic dependabot merges
  .github/workflows/dependabot-merge.yaml
Due: none

ci: correct conditionals to use a comparison
  .github/workflows/dependabot-merge.yaml
Due: none

ci: upgrade node 16 actions to node 20
  .github/actions/poe/action.yaml
  .github/workflows/pr-poe.yaml
Due: none

ci: set GH_TOKEN variable
  .github/workflows/dependabot-merge.yaml
Due: none

ci: update a missed `codecov` action
  .github/workflows/push-poe.yaml
Due: none

ci: fix `ubuntu-lates` -> `ubuntu-latest`
  .github/workflows/dependabot-merge.yaml
Due: none

ci: run tests across all supported python versions
  .github/actions/poe/action.yaml
  .github/workflows/pr-poe.yaml
  pyproject.toml
Due: poetry-check

ci: run tests across all supported python versions
  .github/workflows/push-poe.yaml
Due: none

ci: fix the artifacts name to include py version
  .github/actions/poe/action.yaml
Due: none

ci: correct the name of the artifacts to download
  .github/workflows/push-poe.yaml
Due: none

docs: configure `readthedocs`
  .github/actions/poe/action.yaml
  .gitignore
  .readthedocs.yaml
Due: none

docs: update some URLs to point at `readthedocs`
  .github/actions/poe/action.yaml
  .github/workflows/push-poe.yaml
  README.md
  pyproject.toml
Due: poetry-check

test(#161): `apply` assumes all files if no `key`
  tests/test_config_ninja/test_cli.py
Due: pyupgrade, absolufy-imports, yesqa

feat(#161): implement solution
  src/config_ninja/cli.py
  tests/test_config_ninja/test_cli.py
Due: pyupgrade, absolufy-imports, yesqa

docs: update URLs
  README.md
Due: none

ci: increase dependabot PR limit
  .github/dependabot.yml
Due: none

docs: tweak the build commands for readthedocs
  .readthedocs.yaml
Due: none
